.loader__container {
  display: flex;
  justify-content: center;
  width: 90%;
}

.loader__container img {
  width: 80% !important;
}

.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.imgs-technologies img {
  width: 24px;
  height: 24px;
}

.menus .toggles {
  position: relative;
  width: 40px;
  height: 40px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #333;
  cursor: pointer;
  font-size: 2em;
  transition: 0.25s;
  z-index: 100;
  padding: 6px;
}

.menus .toggles:hover {
  background-color: #000;
  color: white;
}
