/*=============== FOOTER ===============*/
.footer__container {
    padding: 3rem 0 7rem;
    text-align: center;
}

.footer__title {
    font-size: var(--h1-font-size);
    font-weight: var(--font-semi-bold);
    margin-bottom: 1rem;
}

.footer__list,
.footer__social {
    display: flex;
    justify-content: center;
}

.footer__list {
    margin: 2.5rem;
    column-gap: 2.5rem;
}

.footer__link {
    color: var(--title-color);
}

.footer__link:hover {
    text-decoration: underline;
}

.footer__social {
    column-gap: 1.25rem;
}

.footer__social-link {
    font-size: 1.25rem;
    color: var(--title-color);
    transition: transform .3s;
}

.footer__social-link:hover {
    transform: translateY(-.15rem);
}

.footer__copy {
    display: block;
    margin-top: 4.5rem;
    font-size: var(--smaller-font-size);
    color: var(--text-color-light);
}

/* .linkedin__url {
    color: var(--text-color);
} */

.linkedin__url:hover {
    color: var(--color-name);
}

/*=============== BREAKPOINTS ===============*/
@media screen and (min-width: 1048px) {
    .container {
        margin-inline: auto;
    }
}

@media screen and (min-width: 1200px) {
    .containers {
        max-width: 1240px;
        width: 100%;
        margin-inline: auto;
    }

    .footer__container {
        padding: 4rem 0 3rem;
    }

    .footer__list {
        column-gap: 3rem;
        margin: 3rem 0;
    }

    .footer__social {
        column-gap: 2rem;
    }

    .footer__social-link {
        font-size: 1.5rem;
    }

    .footer__copy {
        margin-top: 5rem;
    }
}